*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
table{
    width: 80vw;
    border: 1px solid black;
    margin: auto;
}
.t1{
    background-color: #04AA6D;
 border: none;
 color: white;
 padding: 10px ;
 text-align: left;

}
.h1{
    padding: 10px;
    border: none;
   
}
.t2{
    background-color: #E7E9EB;
}
.d1{
    padding: 10px;
    border: none;
}
.d2{
    padding: 10px;
    border: none;
}
